<!DOCTYPE html>
<html>
  <head>
    <title>WebhookDebugger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:alert] || flash[:notice] %>
      <div class="container mx-auto mt-5 px-5 flex">
        <% if flash[:alert] %>
          <div><%= flash[:alert] %></div>
        <% end %>
        <% if flash[:notice] %>
          <div><%= flash[:notice] %></div>
        <% end %>
      </div>
    <% end %>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
